@model QLNS.Models.ChamCong

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ChamCong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <input asp-for="MaNV" class="form-control" />
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayChamCong" class="control-label"></label>
                <input asp-for="NgayChamCong" class="form-control" />
                <span asp-validation-for="NgayChamCong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoGioLamViec" class="control-label"></label>
                <input asp-for="SoGioLamViec" class="form-control" />
                <span asp-validation-for="SoGioLamViec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
